<a href="https://colab.research.google.com/github/sovikapoudel/Data-Visualiation-Spring-2022/blob/main/Assignment_4_SQL_Essential.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><center>Data Visualization Spring 2022</center></h1>

---

###Assignment: 4
Name: Sovika Poudel <br>
Year: Junior <br>
Course: CPSMA-4313 Data Processing Visualization 
### For this part of Assignment I am again going to work on BigQuery, and playing with one of the public dataset called 'austin_bikeshare_trips'.

Authentication, first!

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Now Let's get the dataset.

In [39]:
%%bigquery --project data-vis-assignment-338801
SELECT *
  From `bigquery-public-data.austin_bikeshare.bikeshare_trips`
  limit 20
   ###using limit will gives exactly how many table youwant to generate.

       trip_id  ... duration_minutes
0   9900289692  ...               39
1   9900285987  ...               31
2   9900285989  ...               31
3   9900285991  ...               30
4   9900286140  ...               19
5   9900286143  ...               17
6   9900286171  ...                6
7   9900286214  ...                0
8   9900286540  ...               12
9     13575843  ...               47
10  9900287291  ...                0
11  9900287293  ...                6
12  9900287294  ...                0
13  9900287414  ...                3
14  9900287861  ...               59
15  9900287864  ...               58
16  9900288008  ...               82
17  9900288149  ...               16
18  9900290433  ...               15
19  9900288210  ...               23

[20 rows x 9 columns]

I think 20 should be enought for this part of assignment. I tried to pull all the table but it was taking a lot of time (more than 2 minutes) then I gave up. So, I will be using 20 rows.

I am going to compute the average time for a trip based on each starting point in next step.

In [64]:

%%bigquery --project data-vis-assignment-338801
SELECT start_station_id as Starting_Point, AVG(duration_minutes) as Average_Time
From `bigquery-public-data.austin_bikeshare.bikeshare_trips`
Group BY start_station_id

    Starting_Point  Average_Time
0           1006.0     27.168259
1           2712.0     28.115798
2           2541.0     30.368452
3           2536.0     23.265843
4           3464.0     28.648889
..             ...           ...
95          2548.0     25.989619
96          2549.0     35.984152
97          2550.0     23.067313
98          2552.0     23.048026
99          3838.0     18.508862

[100 rows x 2 columns]

### How many trips start at each starting point?

Now, I am going to find out how many trips started at each starting point. For starting point I am going to use start_station_id column

In [65]:
%%bigquery --project data-vis-assignment-338801
SELECT start_station_id as Starting_Point, COUNT(start_station_id) AS Num_Of_Trips
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_id
LIMIT 20

    Starting_Point  Num_Of_Trips
0             1006          1361
1             2712          3627
2             2541          5154
3             2536          5744
4             3464           675
5             2823          4703
6             2568          6503
7             3291          7046
8             1008          4386
9             3293          5842
10            2546          2060
11            2576          3070
12            1007          4741
13            2545          1778
14            3294          3820
15            2500           453
16            3635          2818
17            1001            12
18            3381           550
19            3685          5181